body {
    background: black;
    margin: 0;
}

.static-loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
}

.static-heart {
    position: absolute;
    width: 150px;
    height: 150px;
    opacity: 0;
    animation: fade-in 2s 1s forwards;
}

.static-date, .date {
    position: absolute;
    margin-top: 250px;
    width: 250px;
    height: 22px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

