body {
    background: white;
    margin: 0;
}

.static-loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    width: 100%;
}

.static-heart {
    position: absolute;
    width: 150px;
    height: 150px;
    opacity: 0;
    animation: fade-in 2s 1s forwards;
}

.static-date {
    position: absolute;
    margin-top: 250px;
    background: #F2F2F2;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    box-shadow: none;
}

.static-date img {
    max-width: 250px;
    height: 22px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (min-width: 800px) {
    .static-date {
        width: max-content;
        box-shadow: 0 0 20px 20px #F2F2F2;
    }
}
