.loading-screen {
    background-image: url('/public/assets/background.webp');
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-heart {
    position: absolute;
    width: 150px;
    height: 150px;
}

.big-heart.pulse {
    animation: big-heart-pulse 3s .5s 25 forwards;
}

@keyframes big-heart-pulse {
    0% {
        margin-bottom: 0;
        opacity: 1;
        width: 150px;
        height: 150px;
    }
    10% {
        width: 170px;
        height: 170px;
    }
    100% {
        margin-bottom: 350px;
        width: 100px;
        height: 100px;
        opacity: 0;
    }
}

.fade-out {
    animation: fade-out 1.5s forwards;
}

.fade-out .date {
    animation: fade-out 1s forwards;
}

.date {
    background: #F2F2F2;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 30px;
    margin-top: 250px;
    box-shadow: none;
}

.date img {
    max-width: 250px;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@media (min-width: 800px) {
    .date {
        width: max-content;
        box-shadow: 0 0 20px 20px #F2F2F2;
    }
}
